@mixin font-face($font-face, $font-weight, $font-style, $font-src) {
  @font-face {
  font-family: $font-face;
  font-weight: $font-weight;
  font-style: $font-style;
  src: $font-src;
  font-display: swap;
}
}

