/* GLOBAL.scss */
@import "./global/variables";
@import "./global/common";
@import "./global/mixins";
@import "./global/fonts";
@import "./global/global";
@import "./global/visually-hidden";

/* BLOCKS.scss */
@import "blocks/title";
@import "blocks/body";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/main";
@import "blocks/hero";
@import "blocks/program";
@import "blocks/how-it-works";
@import "blocks/example";
@import "blocks/location";
@import "blocks/footer";
