.example {
  padding: 0;
}

.example__title {
  padding: 0;
}

.example__description {
  padding: 0;
}

.example__row {
  padding: 0;
}

.example__weight {
  padding: 0;
}

.example__weight-sum {
  padding: 0;
}

.example__weight-description {
  padding: 0;
}

.example__slider {
  padding: 0;
}

.example__image {
  padding: 0;
}
