footer {
  padding: 0;
}

footer__wrapper-logo {
  padding: 0;
}

footer__logo-link {
  padding: 0;
}

footer__logo-image {
  padding: 0;
}

footer__logo-name {
  padding: 0;
}

footer__social {
  padding: 0;
}

social__list {
  padding: 0;
}

social__item {
  padding: 0;
}

social__link {
  padding: 0;
}

social__link--vkontakte {
  padding: 0;
}

social__link--youtube {
  padding: 0;
}

social__link--telegram {
  padding: 0;
}

footer__wrapper-logo-html {
  padding: 0;
}

footer__logo-link-html {
  padding: 0;
}

footer__logo-name-html {
  padding: 0;
}

footer__logo-image-html {
  padding: 0;
}
