how-it-works {
  padding: 0;
}

how-it-works__title {
  padding: 0;
}

how-it-works__list {
  padding: 0;
}

how-it-works__item {
  padding: 0;
}

how-it-works__icon {
  padding: 0;
}

how-it-works__description {
  padding: 0;
}
