program {
  padding: 0;
}

program__list {
  padding: 0;
}

program__item {
  padding: 0;
}

program__icon {
  padding: 0;
}

program__title {
  padding: 0;
}

program__description {
  padding: 0;
}

program__link {
  padding: 0;
}
